.grid-container
{
    display: flex;
    grid-template-columns: auto auto;
    justify-content: center;
}
.grid-item
{
    color: white;
    background-color: grey;
    border: 2px solid white;
    font-size: large;
    text-align: center;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    padding: 20px;
}